*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0 0px 10px 5px #000000;
    color: white;
}

.logo {
    position: relative;
    width: 50px;
}

.juego {
    font-size: 1.6em;
    color: black;
    text-shadow: 1px 1px 10px #823eff;
}

.menu {
    display: none;
}

.menu_desplegado {
    display: flex;
    align-items: center;
}

.contenedor-btn {
    margin-left: 20px;
}

.btn {
    color: #823eff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: white;
    border: 1px solid #823eff;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e6e4e4;
}

@media (max-width: 884px) {
    .menu {
        width: 40px;
        height: 40px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(50% 0, 100% 20%, 100% 75%, 50% 100%, 0 75%, 0 20%);
        position: relative;
        cursor: pointer;
    }

    .menu_desplegado {
        display: none;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        border: 2px solid #823eff;
        border-radius: 0 0 10px 10px;
    }

    .contenedor-btn {
        padding: 20px 0;
        text-align: center;
    }

    .menu_desplegado.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 40px;
    }

    .juego {
        font-size: 20px;
    }

    .btn {
        font-size: 16px;
    }
}

@media (max-width: 428px) {
    .logo {
        width: 30px;
    }

    .juego {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }

    .contenedor-btn {
        margin: 15px 0;
    }

    .btn {
        margin: 5px;
        padding: 8px;
    }
}
