.color-fabri{
    color: #ff9696;
}
.color-facu{
    color: #9974ff;
}
.color-maxi{
    color: #5680ff;
}

.border-fabri{
    border: 5px solid #ff9696;
}
.border-facu{
    border: 5px solid #9974ff;
}
.border-maxi{
    border: 5px solid #5680ff;
}

.BS-fabri{
    box-shadow: 10px 5px 5px #470808;
}
.BS-facu{
    box-shadow: 10px 5px 5px #2e0c69;
}
.BS-maxi{
    box-shadow: 10px 5px 5px #151756;
}

.borderL-fabri{
    border-left: 5px solid #ff9696;
}
.borderL-facu{
    border-left: 5px solid #9974ff;
}
.borderL-maxi{
    border-left: 5px solid #5680ff;
}

.scroll{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

.scroll.visible{
    opacity: 1;
    transform: translateY(0);
}



@media screen and (max-width:1920px) {
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-integrante{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 50px;
    }

    .integrante{
        position: relative;
        width: 1000px;
        height: 400px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 15px;
    }

    .integrante-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        border-radius: 20px 0px 0px 20px;
    }

    .integrante-img img{
        width: 500px;
        height: 390px;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
        transition: transform 2s;
    }

    .integrante-img img:hover{
        transform: scale(1.2);
    }

    .contenido-integrante{
        width: 500px;
        height: 400px;
        border-radius: 0px 20px 20px 0px;
    }

    .contenido-integrante h1{
        font-size: 2em;
        text-align: center;
        padding: 10px;
    }

    .contenido-integrante h3{
        text-align: center;
        
    }

    .foto{
        width: 500px;
        height: 500px;
        border-radius: 25px 0px 0px 25px;
    }

    .section-valores{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 10px;
        top: 50px;
    }

    .valores{
        width: 490px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 25px;
        margin: 10px;
    }

    .contenedor-valor{
        text-align: center;
        font-size: 1.2em;
    }

    .valores-img{
        width: 100px;
        height: 100px;
        border: 50%;
    }
}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1080px) {

}

@media screen and (min-width:429px) and (min-width:600px) and (max-width:884px) {

}

@media screen and (max-width:600px) {

}

@media screen and (max-width:428px) {

}