<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Ingresar</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="">
        <h1 class="juego">Parabellum</h1>
        <a href="#menu" class="menu">
            <img src="../img/menu.svg" alt="" class="nav_icon" id="menu-icon">
        </a>
        <div class="ocultar menu_desplegado" id="menu">
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="../index.html">Inicio</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="wiki.html">Wiki</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="nosotros.html">Nosotros</a>
            </div>
            <div class="contenedor-btn btnL-mover">
                <a class="btn" href="ingresar.html">Ingresar</a>
            </div>
        </div>
    </header>
    <main>
        <form action="../index.html" method="post" class="login-contenedor">
            <h1>Login</h1>
                <input class="btn-login" type="text"  name="" id="" placeholder="Correo Electronico">
                <input class="btn-login" type="password" name="" id="" placeholder="Contraseña">
                <input class="btn-login ingresar" type="button" name="" id="" value="Ingresar">
            <h4 class="mostrar_register" onclick="mostrar_register()">Registrarse</h4>
        </form>
        <form action="" method="post" class="register-contenedor">
            <h1>Register</h1>
            <input class="btn-register" type="text" placeholder="Nombre">
            <input class="btn-register" type="text" placeholder="Apellido">
            <input class="btn-register" type="text" placeholder="Correo Electronico">
            <input class="btn-register" type="text" placeholder="Usuario">
            <input class="btn-register" type="password" name="" id="" placeholder="Contraseña">
            <input class="btn-register ingresar" type="button" name="" id="" value="Registrarse">
            <h4 class="mostrar_login" onclick="mostrar_login()">Login</h4>
        </form>
    </main>
</body>
</html>

<script src="../js/login-register.js"></script>