<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="">
        <h1 class="juego">Parabellum</h1>
        <a href="#menu" class="menu" id="hamburger">
            <img src="../img/menu.svg" alt="" class="nav_icon">
        </a>
        <div class="menu_desplegado" id="menu">
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="../index.html">Inicio</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="wiki.html">Wiki</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="nosotros.html">Nosotros</a>
            </div>
            <div class="contenedor-btn btnL-mover">
                <a class="btn" href="ingresar.html">Ingresar</a>
            </div>
        </div>
    </header>
    <main>
        <section class="selector_miembros">
            <div class="miembros border-fabri color-fabri "><p>Fabrizio Amado</p>   <img id="downarrow1" class="border-fabri arrow" src="../img/DownArrowR.svg" onclick="desplegar('content1')" alt=""> </div>
            <div id="content1" class="desplegable border-fabri">
                <div class="contenedor_info">
                    <img class="border-fabri" src="" alt="">
                    <p>Hola soy Fabri</p>
                </div>
            </div>
            <div class="miembros border-facu  color-facu  "> <p>Facundo Godoy </p>  <img id="downarrow2" class="border-facu arrow" src="../img/DownArrowV.svg" onclick="desplegar('content2')" alt="">  </div>
            <div id="content2" class="desplegable border-facu">
                <div class="contenedor_info">
                    <img class="border-facu" src="" alt="">
                    <p>Hola soy Facu</p>
                </div>
            </div>
            <div class="miembros border-maxi  color-maxi  "> <p>Máximo Goitia  </p>  <img id="downarrow3" class="border-maxi arrow" src="../img/DownArrowB.svg" onclick="desplegar('content3')" alt="">  </div>
            <div id="content3" class="desplegable border-maxi">
                <div class="contenedor_info">
                    <img class="border-maxi" src="" alt="">
                    <p>Hola soy Maxi</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

<script src="../js/desplegar.js"></script>