<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/brittany-signature" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="">
        <h1 class="juego">Parabellum</h1>
        <a href="#menu" class="menu" id="hamburger">
            <img src="../img/menu.svg" alt="" class="nav_icon">
        </a>
        <div class="menu_desplegado" id="menu">
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="../index.html">Inicio</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="wiki.html">Wiki</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="nosotros.html">Nosotros</a>
            </div>
            <div class="contenedor-btn btnL-mover">
                <a class="btn" href="ingresar.html">Ingresar</a>
            </div>
        </div>
    </header>
    <main>
        <section class="section-integrante">
            <div class="integrante scroll border-fabri BS-fabri">
                <div class="integrante-img">
                    <img class="foto" src="../img/fabri.png" alt="">
                </div>
                <div class="contenido-integrante borderL-fabri">
                    <h1 class="color-fabri">Fabrizio Amado</h1>
                    <h3>Hola</h3>
                    <div class="integrante-redes">
                        <img src="../img/instagramFA.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="integrante scroll border-facu BS-facu">
                <div class="integrante-img">
                    <img class="foto" src="../img/facu.png" alt="">
                </div>
                <div class="contenido-integrante borderL-facu">
                    <h1 class="color-facu">Facundo Godoy</h1>
                    <h3>Hola</h3>
                    <div class="integrante-redes">
                        <img src="../img/instagramFG.svg" alt="">
                    </div>    
                </div>
            </div>
            <div class="integrante scroll border-maxi BS-maxi">
                <div class="integrante-img">
                    <img class="foto" src="../img/kodez.jpg" alt="">
                </div>
                <div class="contenido-integrante borderL-maxi">
                    <h1 class="color-maxi">Máximo Goitia</h1>
                    <h3>Hola</h3>
                    <div class="integrante-redes">
                        <img src="../img/instagramMG.svg" alt="">
                    </div>    
                </div>
            </div>
        </section>
        <section class="section-valores">
            <div class="valores scroll">
                <img class="valores-img" src="../img/innovacion.svg" alt="">
                <div class="contenedor-valor">
                    <h1>Innovación</h1>
                    <h3>Nos esforzamos por estar siempre a la vanguardia del diseño y desarrollo de videojuegos.</h3>
                </div>
            </div>
            <div class="valores scroll">
                <img class="valores-img" src="../img/calidad.jpg" alt="">
                <div class="contenedor-valor">
                    <h1>Calidad</h1>
                    <h3>Nos comprometemos a ofrecer experiencias de juego de la más alta calidad.</h3>
                </div>
            </div>
            <div class="valores scroll">
                <img class="valores-img" src="../img/creatividad.svg" alt="">
                <div class="contenedor-valor">
                    <h1>Creatividad</h1>
                    <h3>Fomentamos la creatividad en todos los aspectos de nuestro trabajo, desde el diseño hasta la narrativa.</h3>
                </div>
            </div>
            <div class="valores scroll">
                <img class="valores-img" src="../img/comunicacion.svg" alt="">
                <div class="contenedor-valor">
                    <h1>Comunicación</h1>
                    <h3>Valoramos la transparencia y la comunicación abierta con nuestra comunidad de jugadores y dentro de nuestro equipo.</h3>
                </div>
            </div>
        </section>
        <section class="ct-mision"> 
            <div class="mision">
                <h1></h1>
                <h3></h3>
            </div>
        </section>
    </main>
    <footer>
        <h1>Forza Games</h1>
        <div class="footer-img">
            <img src="../img/instagram.svg" alt="">
            <img src="../img/gmail.svg" alt="">
        </div>
    </footer>
</body>
</html>

<script src="../js/desplegar.js"></script>