<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="">
        <h1 class="juego">Parabellum</h1>
        <a href="#menu" class="menu">
            <img src="../img/menu.svg" alt="" class="nav_icon">
        </a>
        <div class="menu_desplegado" id="menu">
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="../index.html">Inicio</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="wiki.html">Wiki</a>
            </div>
            <div class="contenedor-btn btnR-mover">
                <a class="btn"  href="nosotros.html">Nosotros</a>
            </div>
            <div class="contenedor-btn btnL-mover">
                <a class="btn" href="ingresar.html">Ingresar</a>
            </div>
        </div>
    </header>
    <main>
        <section class="selector_miembros">
            <div class="miembros fabri"><p>Fabrizio Amado</p><img class="downarrow" src="../img/DownArrowR.svg" alt=""></div>
            <div class="miembros facu"> <p>Facundo Godoy </p><img class="downarrow" src="../img/DownArrowV.svg" alt=""></div>
            <div class="miembros maxi"> <p>Máximo Godoy  </p><img class="downarrow" src="../img/DownArrowB.svg" alt=""></div>
        </section>
    </main>
</body>
</html>